[submodule "orbitutils"]
	path = orbitutils
	url = https://github.com/orbitalVelocity/orbitutils
[submodule "physics"]
	path = physics
	url = https://github.com/orbitalVelocity/physics
[submodule "entityx"]
	path = entityx
	url = https://github.com/alecthomas/entityx
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "uuid"]
	path = uuid
	url = https://github.com/boostorg/uuid
